// content styles
#content
    background-color transparent
    padding-top: header-height
    margin-left side-nav-width
    width = calc(100% - side-nav-width)
    
#content > *
    display none 

#content.hidden
    display none

#content.forexscore
    #forexscoreframe
        display block

#content.usermanagement
    #usermanagementframe
        display block
