// forexscoreframe styles
#forexscoreframe
    width 100%
    height "calc(100vh - %s)" % header-height
    overflow-y auto
    padding 20px
    box-sizing border-box


@import "../focuspairselection/styles.styl"
@import "../forexscoreplayground/styles.styl"
@import "../forexscoreversion/styles.styl"