#user-action-buttons-container
#user-details-container
#deselect-user-button
#user-edit-container
    display none


.user-selected
    #user-action-buttons-container
    #user-edit-container
    #deselect-user-button
        display block
    #user-details-container
        display flex
    #no-user-content
        display none